@* App.razor *@
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>No encontrado</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="p-20 text-center">
                <h1 class="text-4xl font-bold text-slate-800">404</h1>
                <p class="text-slate-500">Esta página no existe o la ruta está mal escrita.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>